@font-face {
  font-family: "Code Bold";
  src: url("../fonts/CODE Bold.otf");
}

body {
  min-height: 100vh;
  background-image: url(../assets/images/body-bg-texture.jpg);
  background-attachment: fixed;
  background-position: center;
  color: #F1F1F1;
}

footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

footer .social-media-icons {
  font-size: 30px;
  text-align: right;
}

footer .footer-copyright {
  text-align: left;
  font-size: 13px;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
}

header .social-media-icons {
  font-size: 30px;
  text-align: right;
}

header .header-logo {
  padding: 10px;
  text-align: center;
}

header .header-logo img {
  width: 90%;
}

header nav {
  padding: 20px 0;
}

header .header-social-media-links {
  font-family: "Code Bold";
  font-size: 20px;
  text-align: center;
  color: #F1F1F1;
}

/* Styles for social media icons */
.social-media-icons a {
  padding-left: 10px;
}

/* Styles when social media icons are hovered over */
a:hover {
  color: rgb(210, 210, 210);
}

a {
  color: #F1F1F1;
}

/* Don't underline these links when hover or visited */
.social-media-icons a:hover,
.social-media-icons a:visited {
  text-decoration: none;
}

/* Styles specific for phones.
 * Kicks in when the browsers window is less than 768px.
 */
@media(max-width: 768px) {
  /* Center the social icons */
  footer .social-media-icons {
    text-align: center;
  }

  /* Make the width between icons slightly larger for fingers */
  footer .social-media-icons a {
    padding: 10px;
  }

  footer .footer-copyright {
    text-align: center;
    font-size: 10px;
  }

  header .social-media-icons {
    text-align: center;
  }

  header .social-media-icons a {
    padding: 10px;
  }

  header .header-logo img {
    width: 100%;
  }

  header nav {
    padding: 10px 0;
  }

  header .header-social-media-links > div {
    padding: 5px 0;
  }
}
