<div class="jk-media-gallery">
  <div class="jk-media-gallery__container">
    <div class="jk-media-gallery__item" 
      v-for="item of activeItems"
      :style="{ width: item.images.low_resolution.width + 'px' }">
      <jk-lazy-image 
        :height="item.images.low_resolution.height" 
        :width="item.images.low_resolution.width" 
        :src="getMediaURL(item)"
        :poster="item.images.low_resolution.url"
        :type="item.type">
      </jk-lazy-image>
      <div>
        <span v-if="item.caption">{{ item.caption.text }}</span>
      </div>
    </div>
  </div>
  <div class="jk-media-gallery__load-more"
    v-if="hasMore"
    @click="loadMore">More</div>
</div>