.jk-media-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.jk-media-gallery__item {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  margin-bottom: 5px;
  position: relative;
}

.jk-media-gallery__item img {
  width: 100%;
  height: 100%;
}