.jk-event-schedule__date {
  font-size: 20px;
  font-weight: bold;
}

.jk-event-schedule__event {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.75);
}

.jk-event-schedule__event:not(:first-child) {
  margin-top: 10px;
}