<div class="jk-event-schedule">
	<div class="jk-event-schedule__event" v-for="event of events">
		<div class="jk-event-schedule__date">{{ formatEventDate(event.date) }}</div>
		<div class="jk-event-schedule__location">{{ event.location.name }}</div>
		<div class="jk-event-schedule__headline">{{ event.headline }}</div>
		<div>
			<span>With: {{ event.artists.join(', ') }}</span>
		</div>
		<div v-if="event.description" class="jk-event-schedule__description">{{ event.description }}</div>
		<div>Doors: {{ event.doorTime }}, Show: {{ event.startTime }}, {{ event.ages }}</div>
		<div v-if="event.cover">${{ event.cover.toFixed(2) }} Cover</div>
	</div>
</div>