.jk-lazy-image {
  position: relative;
  display: flex;
}

.jk-lazy-image__loader {
  display: flex;
  position: absolute;
  z-index: 5;
  font-size: 36px !important;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}

.jk-lazy-image__poster,
.jk-lazy-image__video {
  padding-right: 10px;
}

.jk-lazy-image__video-play {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: -5px;
  cursor: pointer;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
}

.jk-lazy-image__video-play span {
  transition: transform 0.15s ease-in;
  transform: scale(1);
}

.jk-lazy-image__video-play:hover span {
  transform: scale(1.5);
}