.jk-lazy-image {
  position: relative;
  display: flex;
}

.jk-lazy-image__loader {
  display: flex;
  position: absolute;
  z-index: 5;
  font-size: 36px !important;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}