<div class="jk-lazy-image" :style="styles">
  <div class="jk-lazy-image__loader" v-if="waiting || pending" :style="styles">
    <div class="fa fa-spin fa-spinner"></div>
  </div>
  <img v-if="type === 'image' && (pending || resolved)" :src="src" @load="onLoaded"/>
  <div class="relative" v-if="type === 'video' && resolved">
    <div v-if="!confirmed">
      <img class="jk-lazy-image__poster" :src="poster" />
      <div class="jk-lazy-image__video-play"
        title="Play video." 
        @click.prevent="onClick">
        <span class="fa fa-play"></span>  
      </div>
    </div>
    <video 
      class="jk-lazy-image__video"
      v-if="confirmed"
      :height="height"
      :width="width"
      :src="src"
      @load="onLoaded"
      autoplay
      controls>
    </video>
  </div>
</div>