@font-face {
  font-family: "Code Bold";
  src: url("../fonts/Code-Bold.woff2"), url("../fonts/Code-Bold.otf");
}

.relative {
  position: relative;
}

body {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  color: #F1F1F1;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

footer .social-media-icons {
  font-size: 30px;
  text-align: right;
}

footer .footer-copyright {
  text-align: left;
  font-size: 13px;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
}

header .social-media-icons {
  font-size: 30px;
  text-align: right;
}

header .header-logo {
  padding: 10px;
  text-align: center;
}

header .header-logo img {
  width: 90%;
}

header nav {
  padding: 20px 0;
}

header .header-social-media-links {
  font-family: "Code Bold";
  font-size: 20px;
  text-align: center;
  color: #F1F1F1;
}

/* Styles for social media icons */
.social-media-icons a {
  padding-left: 10px;
}

/* Styles when social media icons are hovered over */
a:hover {
  color: rgb(210, 210, 210);
}

a {
  color: #F1F1F1;
}

/* Don't underline these links when hover or visited */
.social-media-icons a:hover,
.social-media-icons a:visited {
  text-decoration: none;
}

.main-content {
  padding-bottom: 70px;
}

.content-player {
  padding: 10px 0;
}

.jk-media-player {
  display: flex;
}

@media(min-width: 860px) {
  body {
    background-image: url(../assets/body-bg-texture.jpg);
  }
}

@media (max-width: 450px) {
  body {
    background-image: url(../assets/body-bg-texture_450x780.jpg);
  }
}

@media (min-width: 450px) and (max-width: 860px) {
  body {
    background-image: url(../assets/body-bg-texture_860x1080.jpg);
  }
}

/* Styles specific for phones.
 * Kicks in when the browsers window is less than 768px.
 */
@media(max-width: 768px) {
  footer {
    position: relative;
  }

  /* Center the social icons */
  footer .social-media-icons {
    text-align: center;
  }

  /* Make the width between icons slightly larger for fingers */
  footer .social-media-icons a {
    padding: 10px;
  }

  footer .footer-copyright {
    text-align: center;
    font-size: 10px;
  }

  header .social-media-icons {
    text-align: center;
  }

  header .social-media-icons a {
    padding: 10px;
  }

  header .header-logo img {
    width: 100%;
  }

  header nav {
    padding: 10px 0;
  }

  header .header-social-media-links > div {
    padding: 5px 0;
  }

  .main-content {
    padding-bottom: 0;
  }
}
